<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.enseeiht.fr/gls/projet404/Games"
			class = "fr.enseeiht.gls.projet404.games.GamesPackage"
			genModel = "model/generated/Games.genmodel" />
	</extension>
</plugin>
